@model List<Blog_App_MVC.Models.Post>

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 column">
            @foreach (var post in Model)
            {
                <h1> @Html.ActionLink(@post.Title, "Details", new { id = post.ID }) </h1>
                <h6>By: @post.CreatedBy @post.CreatedOn</h6>
                <br />
                <p>@post.Body</p>

            }
        </div>
        <div class="col-md-2"></div>
        <br />
        @Html.ActionLink("Add New Post", "AddPost", null, new { @class = "btn btn-lg btn-success" })
    </div>
</div>